{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "consistent-return": 0,
    "function-paren-newline": ["error", "multiline"],
    "curly": ["error", "multi-line"],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": false,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ]
  }
}
