{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "consistent-return": 0,
    "no-console": 0
  }
}
